<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-1 mt-3">
   
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
     <div class="mb-3">
      <label for="title" class="form-lable">Enter Title*</label>
      <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required />
      <div class="invalid-feedback">Title is required</div>
     </div>

      <div class="mb-3">
        <label for="description" class="form-lable">Description*</label>
        <textarea
        name="listing[description]"
        required
        class="form-control" 
        ></textarea>
        <div class="invalid-feedback">Please enter valid discription</div>
      </div>


      <div class="mb-3">
        <label for="image" class="form-lable">Image Link*</label>
        <input
        name="listing[image]"
        type="file"
        class="form-control"
        required 
        
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-lable">Price*</label>
          <input name="listing[price]" placeholder="2,000" class="form-control" required />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>
  
        <div class="mb-3 col-md-8">
          <label for="country" class="form-lable">Country*</label>
          <input name="listing[country]" placeholder="India" type="text" class="form-control"  required/>
          <div class="invalid-feedback">Please enter the country</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-lable">Location*</label>
      <input
        name="listing[location]"
        placeholder="Delhi India"
        type="text"
        class="form-control" 
        required
      />
      <div class="invalid-feedback">Please enter location</div>
      </div>

      <button class="btn btn-dark mb-3 add-btn">Add</button>
    </form>
  </div>
</div>
 
